@import "../utils/fonts";
@import "../utils/buttons";
@import "../utils/colors";
@import "../utils/breakpoints";

.checkout
{
    @include fontPrimary;
    padding: 0 100px;
    margin: 20px 0 100px;

    &_orderOptions
    {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > select
        {
            @include fontPrimary;
            cursor: pointer;
            font-size: 16px;
            background-color: transparent;
            color: $darker-green;
            border: none;
            font-weight: 700;
            height: fit-content;
        }
    }

    &_container
    {
        border-radius: 30px;
        padding: 24px 64px  ;
        background-color: $grey-background;
        margin-bottom: 20px;

    }

    &_float
    {
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        bottom: 0;
        width: 90vw;
        position: fixed;
        display: flex;
        align-items: center;
        background: $white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &_prompt
        {
            display: flex;
            align-items: center;
            margin-left: auto;
        }

        &_price
        {
            color: $dark-green;
            font-weight: 700;
            font-size: 20px;
            margin-left: 30px;
        }

        &_button
        {
            @include buttonPrimary;
            font-size: 16px;
            margin-left: 20px;
            border: none;
            padding: 10px 30px;
            border-radius: 10px;
        }
    }
    &_delivery
    {
        display: flex;
        margin: 0;
        align-items: center;

        h4, p
        {
            margin: 0;
        }

        p
        {
            margin-left: 10px;
            font-size: 18px;
        }
    }
}