@import "../utils/fonts";
@import "../utils/buttons";
@import "../utils/colors";
@import "../utils/breakpoints";

.products {
    @include fontPrimary;
    margin: 0 2vw 3vw 20vw;

    &_container {
        border-radius: 30px;
        padding: 24px 64px;
        background-color: $grey-background;
    }
    &_statusButtons {
        display: flex;
        align-items: right;
        padding-bottom: 1vh;
    }

    &_addProductContainer {
        display: flex;
        flex: row;
        justify-content: space-between;
        padding-left: 5vw;
        padding-right: 5vw;
        align-items: center;

        &_addProductButton {
            color: white;
            height: -webkit-fill-available;
            font-size: 1.125em;
            background-color: rgb(26, 74, 36);
            border: 1px solid lightgreen;
            border-radius: 5px;
            font-family: "Poppins";
            font-weight: bold;
            padding-right: 2vw;
            padding-left: 2vw;
            padding-bottom: 0.3vh;
            padding-top: 0.3vh;
        }
    }

    &_productTitles {
        display: flex;
        align-items: right;
        justify-content: space-around;

        &_product {
            min-width: 20vw;
        }

        &_stock {
            min-width: 6vw;
        }

        &_unitPrice {
            min-width: 4vw;
        }

        &_shipping {
            min-width: 12vw;
            align-items: center;
        }
    }

    &_titleLine {
        margin-bottom: 3vh;
        color: $dark-green;
    }

    &_countOrder {
        font-size: 1vw;
        color: $dark-green;
        font-weight: 500;
    }

    &_line {
        margin-bottom: 3vh;
        color: rgba($color: #000000, $alpha: 40%);
        border-width: 3px;
    }
}
