@import '../utils/fonts';
@import '../utils/colors';

.home {
    @include fontPrimary;
    padding: 0 2rem;
    padding-top: 5vh;
    background: linear-gradient(180deg, #DBEDCC 0%, rgba(219, 237, 204, 0.09), 	#FFFFFF, 	#FFFFFF, 	#FFFFFF 100%);

    &_cont {
        justify-content: center;
        padding: 0 10vw;
    }

    &_containerDiv {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_logoItem {
        cursor: pointer;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
    }
}