@import "../utils/colors";
@import "../utils/breakpoints";
@import "../utils/buttons";
.productCard
{
    &_container
    {
        border: 1px solid $grey-border;
        border-radius: 50px;
        margin: 10px 5px !important;

        @media screen and (max-width: $mobile)
        {
            margin: 0 auto !important;
            margin-bottom: 40px !important;
        }
    }

    &_content
    {
        padding: 16px;
    }

    &_image
    {
        display: flex;
        justify-content: center
    }

    &_weight {
        font-weight: lighter;
        font-size: 12px;
        color: $grey-text;
    }

    &_btn
    {
        @include buttonPrimary;
        border-radius: 20px;
        border: none;
        font-size: 16px;
        padding: 5px 55px;
        width: 100%;
        margin: 0 auto;
    }
}